@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<testandoBancodDo0.Models.BuscaModel>
@{
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="~/css/PrincipalHome.css">
    <script src="https://kit.fontawesome.com/6f925b0522.js" crossorigin="anonymous"></script>
    <title>Aprove Receitas</title>


</head>
<body>

    <div class="scroll-up-btn">
        <ion-icon name="chevron-up-outline"></ion-icon>
    </div>
    <div class="navbar">
        <div class="max-width">
            <div class="logo"><a asp-controller="Site" asp-action="PrincipalHome">Aprove<span> Receitas</span></a></div>
            <ul class="menu">
                <li><a asp-controller="Site" asp-action="SobreNos">Sobre Nós</a></li>
                <li><a asp-controller="Site" asp-action="CadastraReceita">Solicite uma Receita</a></li>
                <li><a asp-controller="Site" asp-action="Contato">Contato</a></li>
                <li><a asp-controller="Site" asp-action="Cadastro">Cadastre-se</a></li>
                <li><a asp-controller="Site" asp-action="Login">Login</a></li>
                
            </ul>
            <div class="UsuarioLogado">

                @if (Context.Session.GetString("UserId") != null)
                {
                    <a asp-controller="Site" asp-action="AreaUsuario">
                         <span style="color:white; font-size:22px;">Olá, @Context.Session.GetString("UserName")!</span>
                    </a>
                }

            </div>
            <div class="menu-btn">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
        </div>
    </div>
    <section class="topo">
        <H1><span class="typing"></span></H1>
        <br>
        <H2>Receitas da semana!</H2>
        <div class="Semana">
            <div class="card">
                <div class="box">
                    <a href="receita2.html">
                        <img src="~/imagens/img-1.png" alt="">
                    </a>
                    <div class="text">Hot-Dog</div>
                    <p>Nada como um bom hot dog para satisfazer seus desejos de conforto e sabor a qualquer hora do dia!</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <a asp-controller="Receitas" asp-action="ReceitaFrango">
                        <img src="~/imagens/img-4.png" alt="">
                    </a>
                    <div class="text">Frango Caipira</div>
                    <p>O frango caipira que nos conecta com a autenticidade da vida no campo. Com seu sabor inconfundível e textura suculenta! <BR><br><br></p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <a asp-controller="Receitas" asp-action="ReceitaGaspacho">
                        <img src="~/imagens/img-2.png" alt="">
                    </a>
                    <div class="text">Gaspacho</div>
                    <p>O gaspacho é um prato tradicional espanhol que oferece uma explosão refrescante de sabores, ideal para os dias quentes. <br><br><br></p>
                </div>
            </div>
        </div>
    </section>
    <section class="Receitas">
        <H3>Receitas Completas</H3>
        <!--parte onde mostra a lista de receitas-->
        <form method="post" asp-controller="BuscaReceita" asp-action="Buscar" class="mb-4">
            <div class="pesquisa">
                <input type="text" name="nome" class="form-control" placeholder="Digite o nome da receita" required />
                <div class="input-group-append">
                    <button class="pesquisa button" type="submit">Buscar</button>
                </div>
            </div>
        </form>

        @if (Model != null && Model.Count > 0)
        {
            @foreach (var receita in Model)
            {
                <hr class="line">
                <div class="list">
                    <a asp-controller="BuscaReceita" asp-action="Detalhes" asp-route-id="@receita.Id">
                        <img src="@receita.ImagemWeb" alt="">
                    </a>
                    <div class="conn">
                        <h4>@receita.Nome</h4>
                        <p>@receita.Descricao</p>
                    </div>
                </div>
                <hr class="line">
            }
        }
            <hr class="line">



    </section>
    <br>
    <footer>

        <a href="#" style="color: #FE9900;">
            <ion-icon name="logo-facebook"></ion-icon>
        </a>

        <a href="#" style="color: #FE9900;"><ion-icon name="logo-instagram"></ion-icon></a>


        <a href="https://wa.me/5567993339665?text=Ol%C3%A1%2C+tudo+bem%3F+tenho+interesse+em+contar+com+os+seus+servi%C3%A7os." style="color: #FE9900;">
            <ion-icon name="logo-whatsapp"></ion-icon>

            <br>
            <br>

            <span style="color: #fff;">Criado por <a href="index.html#about" style="color: #FE9900;"><i>Aprove Receitas</i></a> | © Todos os direitos reservados 2024</span>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">


</body>
</html>
